<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>Controller.admin.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controller.admin.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategoryServlet</servlet-name>
        <servlet-class>Controller.admin.SubCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubSubCategoryServlet</servlet-name>
        <servlet-class>Controller.admin.SubSubCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controller.admin.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandsServlet</servlet-name>
        <servlet-class>Controller.admin.BrandsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DummyController</servlet-name>
        <servlet-class>Controller.admin.DummyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.admin.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>Controller.admin.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>Controller.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BannerController</servlet-name>
        <servlet-class>Controller.admin.BannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsLetterController</servlet-name>
        <servlet-class>Controller.NewsLetterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsDetailsController</servlet-name>
        <servlet-class>Controller.ProductsDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationsController</servlet-name>
        <servlet-class>Controller.InformationsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FooterController</servlet-name>
        <servlet-class>Controller.admin.FooterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/admin-brand-index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategoryServlet</servlet-name>
        <url-pattern>/admin/sub-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubSubCategoryServlet</servlet-name>
        <url-pattern>/admin/sub-sub-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandsServlet</servlet-name>
        <url-pattern>/admin-brands-index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DummyController</servlet-name>
        <url-pattern>/dummy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BannerController</servlet-name>
        <url-pattern>/admin/banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsLetterController</servlet-name>
        <url-pattern>/newsletter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsDetailsController</servlet-name>
        <url-pattern>/products-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationsController</servlet-name>
        <url-pattern>/info/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FooterController</servlet-name>
        <url-pattern>/admin/footer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
